.controls {
  display: flex;
  flex-flow: column;
  position: fixed;
  bottom: 10px;
  left: 10px;
  flex: 1;

  .form-group {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    input {
      margin-left: 1em;
    }
  }
  input[type="number"] {
    text-align: right;
  }
}
